<!-- modify activity -->
<div class="easyui-dialog " id="modifyskillmodal" closed="true" buttons="#dlg-buttons" style="width:800px;height:auto;padding:10px 20px">
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-content" id="modifyskill">
					<form class="form-horizontal" id="modifyskillform" method="post" novalidate>
						<include file="skill-form" />
					</form>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div>
	<div class="modal-footer">
	</div>
</div>
