<fieldset>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">角色编号 / 名称</label>
		<div class="controls">
			<input type="text" readonly="readonly" id="guid" name="guid" >
			<input type="text" readonly="readonly"  id="name" name="name" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">VIP </label>
		<div class="controls">
			<input type="text" id="vip" name="vip" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">金币 </label>
		<div class="controls">
			<input type="text" id="money" name="money" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">元宝 </label>
		<div class="controls">
			<input type="text" id="rmb" name="rmb" >
		</div>
	</div>
	<div class="control-group ">
		<label class="control-label span2" for="typeahead">级别  / 经验</label>
		<div class="controls">
			<input type="text" id="level" name="level" >
			<input type="text"  id="exp" name="exp" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">精力 / 上限 </label>
		<div class="controls">
			<input type="text" id="ep" name="ep" >
			<span class="help-inline" id="ep-max">1</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">体力 / 上限</label>
		<div class="controls">
			<input type="text" id="sp" name="sp" >
			<span class="help-inline" id="sp-max">1</span>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">
			保存
		</button>
		<button class="btn" data-dismiss="modal">
			关闭
		</button>
	</div>
</fieldset>