<div class="row-fluid sortable">
	<div class="box span8">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> {$TplStr['_MODAL_TITLE']}</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="easyui-datagrid" id="character-list"  >
			</table>
		</div>
	</div><!--/span-->
	<div class="box span4">
		<div class="box-header well">
			<h2><i class="icon-info-sign"></i> 角色详情</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-modifycharacter btn-round"><i class="icon-edit"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content" id="characterdiv">
			<ul class="dashboard-list">
				<li>
				<h1 id="htxt"></h1>
				<a><img class="dashboard-avatar" id="grayscale" path="__PUBLIC__/Web/assets/long/"></a>
				<div class="clearfix" id="info"></div>
				</li>
			</ul>
		
		</div>
	</div>
</div><!--/row-->