<!-- left menu starts -->
<div class="span2 main-menu-span ">
	<div class="well nav-collapse sidebar-nav " >
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li class="nav-header hidden-tablet">Main</li>
			<li><a class="ajax-link" href="__ROOT__/Index"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
			<li class="nav-header hidden-tablet">公告 & 消息</li>
			<li><a class="ajax-link" href="__ROOT__/Board"><i class="icon-eye-open"></i><span class="hidden-tablet"> 公告板管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Message/tpllist"><i class="icon-eye-open"></i><span class="hidden-tablet"> 模板消息管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Message/character"><i class="icon-eye-open"></i><span class="hidden-tablet"> 个人消息管理</span></a></li>
			<li class="nav-header hidden-tablet">支付相关</li>
			<li><a class="ajax-link" href="__ROOT__/Pay"><i class="icon-eye-open"></i><span class="hidden-tablet"> 支付订单管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Pay/consume"><i class="icon-eye-open"></i><span class="hidden-tablet"> 游戏道具管理</span></a></li>
			
			<li class="nav-header hidden-tablet">活动相关</li>
			<li><a class="ajax-link" href="__ROOT__/Activity"><i class="icon-eye-open"></i><span class="hidden-tablet"> 活动模板</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Activity/info"><i class="icon-eye-open"></i><span class="hidden-tablet"> 活动信息</span></a></li>

			
			<li class="nav-header hidden-tablet">卡牌相关</li>
			<li><a class="ajax-link" href="__ROOT__/Item"><i class="icon-eye-open"></i><span class="hidden-tablet"> 卡牌管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Skill"><i class="icon-eye-open"></i><span class="hidden-tablet"> 技能管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Item/add"><i class="icon-eye-open"></i><span class="hidden-tablet"> 增加卡牌</span></a></li>
		
			<li class="nav-header hidden-tablet">奖励 & 宝箱</li>
			<li><a class="ajax-link" href="__ROOT__/Reward"><i class="icon-eye-open"></i><span class="hidden-tablet"> 奖励管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Box"><i class="icon-eye-open"></i><span class="hidden-tablet"> 宝箱管理</span></a></li>
			
			
			<li class="nav-header hidden-tablet">账号相关</li>
			<li><a class="ajax-link" href="__ROOT__/Account"><i class="icon-eye-open"></i><span class="hidden-tablet"> 用户管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Account/character"><i class="icon-eye-open"></i><span class="hidden-tablet"> 角色信息</span></a></li>
			<li class="nav-header hidden-tablet">系统管理</li>
			<li><a class="ajax-link" href="__ROOT__/Server"><i class="icon-eye-open"></i><span class="hidden-tablet"> 服务器管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/User"><i class="icon-eye-open"></i><span class="hidden-tablet"> 用户管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Log"><i class="icon-eye-open"></i><span class="hidden-tablet"> 日志管理</span></a></li>
			<li><a class="ajax-link" href="__ROOT__/Login"><i class="icon-align-justify"></i><span class="hidden-tablet"> 登录</span></a></li>
		</ul>
		<!--label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label-->
	</div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->