<!-- connect -->
<div class="modal hide fade" id="connectpopup">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			Close
		</button>
		<h3>Loading...</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-content" id="txt">
					<img src="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif" title="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif">
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div>
	<div class="modal-footer"></div>
</div>

<!-- connect -->
<div class="modal hide fade" id="loadframe">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			Close
		</button>
		<h3 id="h3title"></h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-content" id="txt">
					<!-- <img id="wait-img" class="modal show" src="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif" title="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif"> -->

					<div class="progress progress-info progress-striped" style="margin-bottom: 9px;">
						<div class="bar" style="width: 0%" id="load-bar"></div>
					</div>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div>
	<div class="modal-footer"></div>
</div>

<!-- confirm -->
<div class="modal hide fade" id="confirm">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			Close
		</button>
		<h3 id="h3title">shi</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-content" id="txt">

					<img id="wait-img" src="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif" title="__ROOT__/Public/Web/img/ajax-loaders/ajax-loader-7.gif">

				</div>
				<div class="form-actions">
					<button type="button" id="btn-submit" class="btn btn-primary">
						确认
					</button>
					<button class="btn" data-dismiss="modal">
						关闭
					</button>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div>
	<div class="modal-footer"></div>
</div>