<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> 公告浏览</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-setting btn-round" id="addBoard"><i class="icon-plus"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" name="table-board" id="table-board">
				<thead>
					<tr>
						<th>编号</th>
						<th>操作</th>
						<th>公告标题</th>
						<th>公告内容</th>
						<th>跳转类型</th>
						<th>状态</th>
						<th>排序</th>
						<th>添加时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="lists" id="vo">
						<tr guid="{$vo.guid}" priority="{$vo.priority}">
							<td>{$vo.guid}</td>
							<td>
								<if condition="$vo.isValid eq 1">
								<a class="btn btn-danger btn-movedown"><i class="icon-arrow-down icon-white"></i>下移</a>&nbsp;&nbsp;&nbsp;&nbsp; 
								<a class="btn btn-success btn-moveup"><i class="icon-arrow-up icon-white"></i>上移</a>&nbsp;&nbsp;&nbsp;&nbsp;
								</if> 
								<a class="btn btn-info modifyBoard" id="{$vo.id}" data-json='{$vo.jsontxt}'> <i class="icon-edit icon-white"></i>修改 </a>
							</td>
							<td class="center">{$vo.title}</td>
							<td class="center">{$vo.content}</td>
							<td class="center">【{$vo.type}】{$vo.jmp}</td>
							<td class="center">{$vo.isValid}</td>
							<td class="center">{$vo.priority}</td>
							<td class="center">{$vo.time}</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div><!--/span-->
</div><!--/row-->
<!-- content ends -->