<!-- add board -->
<div class="modal hide fade" id="popuploginframe">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			Close
		</button>
		<h3>错误提示</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="alert alert-error" id="loginerror">
				<!--button type="button" class="close" data-dismiss="alert">×</button-->
				<strong id="bold-text">Oh shit!</strong>
				<span id="simple-text">Change a few things up and try submitting again.</span>
			</div>
		</div><!--/row-->
	</div>
	<div class="modal-footer">
	</div>
</div>
