<!-- modify activity -->
<div class="easyui-dialog " id="modifyactivityinfomodal" closed="true" buttons="#dlg-buttons" style="width:1200px;height:auto;padding:10px 20px">
	<div class="modal-body">
		<div class="row-fluid sortable">
			<div class="box">
				<div class="box-content" id="modifyactivity">
					<form class="form-horizontal" id="modifyactivityinfoform" method="post" novalidate>
						<include file="activityinfo-form" />
					</form>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div>
	<div class="modal-footer">
	</div>
</div>
