<!--
<include file='Frame/frame-blank' />
-->

<extend name="Frame/frame-blank" />

<block name="content">
<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> {$TplStr['_MODAL_TITLE']}</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-setting btn-round" id="addServer"><i class="icon-plus"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="easyui-datagrid" id="activityinfo-list"  >
			</table>
			<div id="toolbar">
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addactivityinfo()">选中新开活动</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addactivityinfoclear()">空白新开活动</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="modifyactivityinfo()">修改活动</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delactivityinfo()">删除活动</a>
			</div>
		</div>
	</div><!--/span-->
</div><!--/row-->
</block>

<block name="foot">

	<!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	
	<!-- jQuery -->
	<!--js href="__PUBLIC__/Web/js/jquery-1.7.2.min.js"/-->
	<js href="__PUBLIC__/Web/js/jquery-1.7.2.js"/>
	<!-- jQuery UI -->
	<js href="__PUBLIC__/Web/js/jquery-ui-1.8.21.custom.min.js"/>
	
	<!-- <js href="__PUBLIC__/Web/js/easyui/easyloader.js"/> -->
	<js href="__PUBLIC__/Web/js/jquery.easyui.min.js"/>
	<js href="__PUBLIC__/Web/js/easyui/easyui-lang-zh_CN.js"/>
	
	<js href="__PUBLIC__/Web/js/jquery-ui-timepicker-addon.js"/>
	
	
	<!-- transition / effect library -->
	<js href="__PUBLIC__/Web/js/bootstrap-transition.js"/>
	<!-- alert enhancer library -->
	<js href="__PUBLIC__/Web/js/bootstrap-alert.js"/>
	<!-- modal / dialog library -->
	<js href="__PUBLIC__/Web/js/bootstrap-modal.js"/>
	<!-- custom dropdown library -->
	<js href="__PUBLIC__/Web/js/bootstrap-dropdown.js"/>
	<!-- scrolspy library -->
	<js href="__PUBLIC__/Web/js/bootstrap-scrollspy.js"/>
	<!-- library for creating tabs -->
	<js href="__PUBLIC__/Web/js/bootstrap-tab.js"/>
	<!-- library for advanced tooltip -->
	<js href="__PUBLIC__/Web/js/bootstrap-tooltip.js"/>
	<!-- popover effect library -->
	<js href="__PUBLIC__/Web/js/bootstrap-popover.js"/>
	<!-- button enhancer library -->
	<js href="__PUBLIC__/Web/js/bootstrap-button.js"/>
	<!-- accordion library (optional, not used in demo) -->
	<js href="__PUBLIC__/Web/js/bootstrap-collapse.js"/>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<js href="__PUBLIC__/Web/js/bootstrap-carousel.js"/>
	<!-- autocomplete library -->
	<js href="__PUBLIC__/Web/js/bootstrap-typeahead.js"/>
	<!-- tour library -->
	<js href="__PUBLIC__/Web/js/bootstrap-tour.js"/>
	<!-- library for cookie management -->
	<js href="__PUBLIC__/Web/js/jquery.cookie.js"/>
	<!-- calander plugin -->
	<js href='__PUBLIC__/Web/js/fullcalendar.min.js'/>
	<!-- data table plugin -->
	<js href='__PUBLIC__/Web/js/jquery.dataTables.min.js'/>
	
	<!-- chart libraries start -->
	<js href="__PUBLIC__/Web/js/excanvas.js"/>
	<js href="__PUBLIC__/Web/js/jquery.flot.min.js"/>
	<js href="__PUBLIC__/Web/js/jquery.flot.pie.min.js"/>
	<js href="__PUBLIC__/Web/js/jquery.flot.stack.js"/>
	<js href="__PUBLIC__/Web/js/jquery.flot.resize.min.js"/>
	<!-- chart libraries end -->
	
	<!-- select or dropdown enhancer -->
	<js href="__PUBLIC__/Web/js/jquery.chosen.min.js"/>
	<!-- checkbox, radio, and file input styler -->
	<js href="__PUBLIC__/Web/js/jquery.uniform.min.js"/>
	<!-- plugin for gallery image view -->
	<js href="__PUBLIC__/Web/js/jquery.colorbox.min.js"/>
	<!-- rich text editor library -->
	<js href="__PUBLIC__/Web/js/jquery.cleditor.min.js"/>
	<!-- notification plugin -->
	<js href="__PUBLIC__/Web/js/jquery.noty.js"/>
	<!-- file manager library -->
	<js href="__PUBLIC__/Web/js/jquery.elfinder.min.js"/>
	<!-- star rating plugin -->
	<js href="__PUBLIC__/Web/js/jquery.raty.min.js"/>
	<!-- for iOS style toggle switch -->
	<js href="__PUBLIC__/Web/js/jquery.iphone.toggle.js"/>
	<!-- autogrowing textarea plugin -->
	<js href="__PUBLIC__/Web/js/jquery.autogrow-textarea.js"/>
	<!-- multiple file upload plugin -->
	<js href="__PUBLIC__/Web/js/jquery.uploadify-3.1.min.js"/>
	<!-- history.js for cross-browser state change on ajax -->
	<js href="__PUBLIC__/Web/js/jquery.history.js"/>
	
	<js href="__PUBLIC__/Web/js/zybox.js"/>
	<!-- application script for Charisma demo -->
	<js href="__PUBLIC__/Web/js/charisma.js"/>
	
	
	<js href="__PUBLIC__/Web/js/easyui/plugins/datagrid-detailview.js"/>
	
	<js href="__PUBLIC__/Web/js/zybox-activityinfopage.js"/>

</body>
</html>

</block>