<fieldset>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">服务器编号 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" readonly="readonly" id="serverid" name="serverid" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">服务器名称 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="servername" name="servername" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">服务器地址 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="serverhost" name="serverhost" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">数据库端口 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="serverport" name="serverport" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">用户名 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="serveruser" name="serveruser" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">密码 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="serverpassword" name="serverpassword" >
		</div>
	</div>
	<div class="control-group">
		<label class="control-label span2" for="typeahead">备注信息 </label>
		<div class="controls">
			<input type="text" class="span6 typeahead" id="serverinfo" name="serverinfo" value="...一台寻常的服务器，在遥远的东方...">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label span2" for="typeahead">服务器状态 </label>
		<div class="controls">
			<label class="radio">
				<input type="radio" name="serverstatus" id="serverstatus1" >
				开启 </label>
			<div style="clear:both"></div>
			<label class="radio">
				<input type="radio" name="serverstatus" id="serverstatus2" >
				关闭 </label>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">
			保存
		</button>
		<button class="btn" data-dismiss="modal">
			关闭
		</button>
	</div>
</fieldset>